@import "tailwindcss";

@theme {
  --font-sans: "Alegreya Sans", sans-serif;

  --spacing: 0.25rem;

  --radius-*: initial;
  --radius: 0.25rem;

  --color-ui-bg: var(--color-slate-900);
  --color-ui-border: var(--color-slate-800);
  --color-ui-text: var(--color-slate-400);
  --color-alt: var(--color-orange-500);
  --color-highlight: var(--color-yellow-400);
}

@utility container {
  margin-inline: auto;
  padding-inline: --spacing(4);
}

@utility infinite-grid-* {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(--value([length]), 1fr));
}

body {
  background-color: var(--color-slate-950);
}

input,
select {
  background-color: var(--color-ui-bg);
  border: 1px solid var(--color-ui-border);
  border-radius: var(--radius);
  padding: --spacing(1) --spacing(2);
  color: var(--color-ui-text);
  min-height: 38px;

  &:focus {
    outline-color: var(--color-alt);
  }
}
