@import "tailwindcss";

@theme {
  --font-sans: "Alegreya Sans", sans-serif;

  --spacing: 0.25rem;

  --radius-*: initial;
  --radius: 0.25rem;

  --color-ui-bg: #1e1e2e;
  --color-ui-border: #313244;
  --color-ui-text: #cdd6f4;
  --color-alt: #fe640b;
  --color-highlight: #df8e1d;
}

:root {
  --body-background: #11111b;
  --navbar-gradient-top: #181825;
  --navbar-gradient-bottom: #11111b;

  --subscription-image-size: 71px;
}

@utility container {
  margin-inline: auto;
  padding-inline: --spacing(4);
}

@utility infinite-grid-* {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(--value([length]), 1fr));
}

body {
  background-color: var(--body-background);
}

input,
select {
  background-color: var(--color-ui-bg);
  border: 1px solid var(--color-ui-border);
  border-radius: var(--radius);
  padding: --spacing(1) --spacing(2);
  color: var(--color-ui-text);
  min-height: 38px;

  &:focus {
    outline-color: var(--color-alt);
  }
}
